/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: white;
}

header {
    background-color: #9e0000;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #9e0000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
}

footer {
    background-color: #9e0000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header, footer {
        padding: 1px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
